<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Heroes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-row>
    <ion-card *ngFor="let heroe of heroes">
      <ion-card-header>
        <ion-card-subtitle>Heroe</ion-card-subtitle>
        <ion-card-title>{{heroe.name}}</ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        <img class="image" [src]="heroe.image" alt="angular logo" />
        {{heroe.description}}
        <ion-button color="primary" (click)="viewMore(heroe.id)">Ver mas</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-row>

</ion-content>
